<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="niot.imoon"
    android:screenOrientation="portrait">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Login"
            android:screenOrientation="portrait"/>
        <activity android:name=".Register"
            android:screenOrientation="portrait"/>
        <activity android:name=".ResetPasswordActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".settings"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".buoy_info"
            android:label="Buoy Info"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".SplashScreen">
        <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> 
        <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyBMReHU2n4Ca-zNoi1zDKHHJkIe-mNAuOw"/>
    </application>

</manifest>
